<div class="mt-10 sm:mt-0 px-6 py-4 bg-gray-100">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Informacion personal</h3>
        <p class="mt-1 text-sm text-gray-600">
            Utiliza para guardar informacion del usuario.
        </p>
        <!-- block hidden -->
        <div id="errors" class="hidden text-red-200 shadow-inner rounded p-1 bg-red-600">
          <strong (click)="hiddenErrors()" class="text-xl float-right cursor-pointer alert-del">&times;</strong>
          <p *ngFor="let error of errors" class="">{{error}}</p>
        </div>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <form (submit)="edit?updateUser():submitUser()">
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6">
                    <label for="identitycard" class="block text-sm font-medium text-gray-700">Cedula</label>
                    <input [(ngModel)]="user.identitycard" type="text" name="identitycard" id="identitycard" class="mt-1 focus:ring-indigo-700 focus:border-indigo-700 block w-full shadow-sm sm:text-sm border-gray-700 rounded-md">
                </div>
               
                <div class="col-span-6 sm:col-span-3">
                    <label for="firstname" class="block text-sm font-medium text-gray-700">Nombres</label>
                    <input [(ngModel)]="user.firstname" type="text" name="firstname" id="firstname" class="mt-1 focus:ring-indigo-700 focus:border-indigo-700 block w-full shadow-sm sm:text-sm border-gray-700 rounded-md">
                </div>

                <div class="col-span-6 sm:col-span-3">
                    <label for="lastname" class="block text-sm font-medium text-gray-700">Apellidos</label>
                    <input [(ngModel)]="user.lastname" type="text" name="lastname" id="lastname" class="mt-1 focus:ring-indigo-700 focus:border-indigo-700 block w-full shadow-sm sm:text-sm  border-gray-700 rounded-md">
                </div>

                <div class="col-span-6 sm:col-span-3">
                    <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                    <input [(ngModel)]="user.email" type="email" name="email" id="email" autocomplete="email" class="mt-1 focus:ring-indigo-700 focus:border-indigo-700 block w-full shadow-sm sm:text-sm  border-gray-700 rounded-md">
                </div>

                <div class="col-span-6 sm:col-span-3">
                    <label for="phone" class="block text-sm font-medium text-gray-700">Teléfono</label>
                    <input [(ngModel)]="user.phone" type="text" name="phone" id="phone" autocomplete="phone" class="mt-1 focus:ring-indigo-700 focus:border-indigo-700 block w-full shadow-sm sm:text-sm  border-gray-700 rounded-md">
                </div>
            </div>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700">
              Guardar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>