<!-- This example requires Tailwind CSS v2.0+ -->
<div class="flex flex-col px-6 py-4">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Usuario
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Cedula
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Teléfono
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Estado
                </th>
                <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
<!-- *ngIf="users.length > 0"  -->
            <tbody *ngIf="users.length > 0" class="bg-white divide-y divide-gray-200">
              <tr *ngFor="let user of users">
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <img class="h-10 w-10 rounded-full" src='{{ "https://ui-avatars.com/api/?name=" + user.firstname+user.lastname }}' alt="">
                    </div>
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                        {{user.firstname}}
                      </div>
                      <div class="text-sm text-gray-500">
                        {{user.email}}
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">{{user.firstname}} {{user.lastname}}</div>
                  <div class="text-sm text-gray-500">{{user.identitycard}}</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{user.phone}}
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                    <!-- *ngIf="" -->
                  <span *ngIf="(user.isActive)" (click)="deleteUser(user.id || '')" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800 cursor-pointer">
                    Active
                  </span>
                  <span *ngIf="!(user.isActive)" (click)="deleteUser(user.id || '')" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800 cursor-pointer">
                    Inactive
                  </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <a *ngIf="(user.isActive)" [routerLink]="['edit',user.id]" class="block text-indigo-600 hover:text-indigo-900">Editar</a>
                  <a *ngIf="!(user.isActive)" [href]="" (click)="deleteUserdelete(user.id || '')" class="block text-indigo-600 hover:text-indigo-900 cursor-pointer">Eliminar</a>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!(users.length > 0)" class="bg-white divide-y divide-gray-200">
              <tr >
                <td class="px-6 py-4 whitespace-nowrap" colspan="5">
                  <p class="text-center text-xs font-medium text-gray-500 uppercase tracking-wider">No hay usuarios</p>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="users.length > 0" class="flex flex-col px-6 py-4">
    <nav class="relative z-0 inline-flex shadow-sm -space-x-px" aria-label="Pagination">
      <a *ngFor="let in of npages;let i = index" [href]="" (click)="getUsers(i*5 || 0)" class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 cursor-pointer">
        {{i+1}}
      </a>
    </nav>
  </div>
  <!-- focus:text-sm focus:font-medium focus:rounded-md focus:text-white focus:bg-indigo-600 -->